CONFIG_ANDROID_BINDER_IPC_RUST=y

CONFIG_PCI=y
CONFIG_COMPAT=y
CONFIG_JUMP_LABEL=y
CONFIG_RUST_FW_LOADER_ABSTRACTIONS=y
CONFIG_KUNIT=y
CONFIG_RUST_KERNEL_DOCTESTS=y
CONFIG_WERROR=y

CONFIG_DRM=y
CONFIG_DRM_NOVA=m
CONFIG_NOVA_CORE=m

CONFIG_AMCC_QT2025_PHY=m
CONFIG_BLK_DEV_RUST_NULL=m

CONFIG_AX88796B_PHY=m
CONFIG_AX88796B_RUST_PHY=y

CONFIG_SAMPLE_RUST_CONFIGFS=m
CONFIG_SAMPLE_RUST_MINIMAL=m
CONFIG_SAMPLE_RUST_MISC_DEVICE=m
CONFIG_SAMPLE_RUST_PRINT=m
CONFIG_SAMPLE_RUST_DMA=m
CONFIG_SAMPLE_RUST_DEBUGFS=m
CONFIG_SAMPLE_RUST_DEBUGFS_SCOPED=m
CONFIG_SAMPLE_RUST_DRIVER_I2C=m
CONFIG_SAMPLE_RUST_I2C_CLIENT=m
CONFIG_SAMPLE_RUST_DRIVER_PCI=m
CONFIG_SAMPLE_RUST_DRIVER_PLATFORM=m
CONFIG_SAMPLE_RUST_DRIVER_USB=m
CONFIG_SAMPLE_RUST_DRIVER_FAUX=m
CONFIG_SAMPLE_RUST_DRIVER_AUXILIARY=m
CONFIG_SAMPLE_RUST_HOSTPROGS=y